.order_body .order_heade{
  padding: 7px;
  background-color: #eee;
  text-align: center;
  width: 100%;
}
.order_body .order_item_div{
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  gap: 20px;
}
.order_body .order_item_div .addrees_flex{
  display: flex;
  flex-direction: column;

}

.sure_buy{
  display: flex;
  flex-direction: column;

}
.sure_buy span{
display: block;
margin: 6px;


}

.sure_buy button{ 
  background-color: #c8b20b;
  padding: 7px;
  text-align: center;
  text-transform: capitalize;
  outline: none;
  border: 0;
  border-radius: 4px;
  width: 100%;
  
}
/* meida */
@media(max-width:960px){
.order_body .order_item_div{
  padding: 10px;
  font-size: 13px;
  flex-direction: column;
  gap: 10px;

}
}